@charset "ISO-8859-1";
.align{
	text-align: center;
	color:fuchsia;
	font-family: monospace;
	width: 75x;
	height: 75%;
	
	
}

#one{
	text-align:center;
	font-style: inherit;
	color:orange;
}
.flip-card {
  background-color: transparent;
  width: auto;
  height: auto;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 170px;
  height: 170px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: fixed;
  width: inherit;
  height: inherit;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #000000;
  color: white;
  transform: rotateY(180deg);
}
